#!/usr/bin/make -f

# Python version can be overridden via environment (default: python3.11 for bookworm)
PYTHON_VER ?= python3.11

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --builtin-venv --python $(PYTHON_VER) \
		--preinstall deps/clapshot_grpc-0.0.0+dev-py3-none-any.whl
